{% extends 'base.html.twig' %}

{% block title %}Movimientos index{% endblock %}

{% block body %}
    <h1>Movimientos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos %}
            <tr>
                <td>{{ movimiento.id }}</td>
                <td>{{ movimiento.tipo }}</td>
                <td>{{ movimiento.monto }}</td>
                <td>{{ movimiento.date ? movimiento.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movimientos_new') }}">Create new</a>
{% endblock %}
