<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Disponible</p>
                                <h5 class="font-weight-bolder mb-0">
                                    {{ balance.saldo }}
                                    <span class="text-success text-sm font-weight-bolder"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Disponible Para Retiro <small>(USDT)</small></p>
                                <h5 class="font-weight-bolder mb-0">
                                    {#$90.00
                                    <span class="text-danger text-sm font-weight-bolder">-10%</span>#}
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <img src="{{ asset('assets/img/Tether-USDT-icon.png') }}" style="margin-top: 7px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Disponible en 60 días</p>
                                <h5 class="font-weight-bolder mb-0">
                                    {#$100.00
                                    <span class="text-success text-sm font-weight-bolder">100%</span>#}
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <img src="{{ asset('assets/img/Tether-USDT-icon.png') }}" style="margin-top: 7px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Disponible en 90 días</p>
                                <h5 class="font-weight-bolder mb-0">
                                    {#$112.00
                                    <span class="text-success text-sm font-weight-bolder">+12%</span>#}
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <img src="{{ asset('assets/img/Tether-USDT-icon.png') }}" style="margin-top: 7px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if app.request.get('_route') == 'dashboard' %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card cargar">
                <a class="text-decoration-none text-reset" href="{{ path('app_movimientos_new') }}">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="fs-4 mb-0 text-capitalize font-weight-bold lh-lg">Cargar Saldo</p>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-credit-card text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card cargar">
                <a class="text-decoration-none text-reset" href="{{ path('app_participaciones_new') }}">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="fs-4 mb-0 font-weight-bold lh-lg">Ingresar a un Pool</p>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-spaceship text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% if app.user.email == 'morimartin@gmail.com' %}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card cargar">
                <a class="text-decoration-none text-reset" href="{{ path('app_pool_new') }}">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="fs-4 mb-0 font-weight-bold lh-lg">Crear Pool</p>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-spaceship text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}